*{
    padding: 0;
    margin:0;
    font-family: serif;
}

.content{
    margin-top: 40px;
    margin-bottom: 40px;
}
.jumbotron .display-4{
    font-size: 28px;
}
.heading{
    font-size: 22px;
    text-align: center;
}
body {
    background-image: url(../images/generated_2.png);
    background-size: cover; /* or contain depending on your preference */
    /* Additional background properties if needed */
}

.jumbotron {
    background-color: transparent !important; /* Remove white background */
    color: #ffffff; /* Change text color */
    animation: slideInDown 1s ease-in-out; /* Add slide-in-down animation */
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.content {
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}